*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #4488ee;
    color: #fff;
    padding: 10px 0;
}

.header-nav{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-links a{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.contenedor-forms a{
    color: #4488eeaa;
    text-decoration: none;
    padding: 5px 10px;
}

.contenedor-forms button{
    color: #eeeeee;
    text-decoration: none;
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}